<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      List Items
      <small>List Items</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Items</a></li>
      <li class="active">All Items</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Hover Data Table</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Notes</th>
                  <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of items | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.notes}}</td>
                  <td>{{item.price}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Notes</th>
                  <th>Price</th>
                </tr>
                </tfoot>
              </table>
              <div class="has-text-centered">
                <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                <pagination-controls (pageChange)="getsaleItems($event)" id="server"></pagination-controls>
            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
  </section>
  <!-- /.content -->
</div>