<aside class="main-sidebar">
	
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li class="treeview">
				<a href="#"><i class="fa fa-diamond"></i> <span>CRM</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a>Dashboard</a></li>
					<li><a>Oportunidades</a></li>
					<li><a>Personas</a></li>
					<li><a>Compañias</a></li>
					<li><a>Ordenes</a></li>
					<li><a>Más</a></li>
				</ul>
			</li>
			<li class="treeview active menu-open">
				<a href="#"><i class="fa fa-shopping-cart"></i> <span>Ventas</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="active"><a>Items vendidos</a></li>
					<li><a>Presentaciones</a></li>
					<li><a>Variedades</a></li>
					<li><a>Más</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#"><i class="fa fa-users"></i> <span>RRHH</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a>Emplados</a></li>
					<li><a>Planilla</a></li>
					<li><a>Salario</a></li>
					<li><a>Más</a></li>
				</ul>
			</li>
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
